<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Editing Shipping Service</h1>

      <%= render 'form' %>

      <%= link_to 'Show', dashboard_shipping_service_path(@shipping_service) %> |
      <%= link_to 'Back', dashboard_shipping_services_path %>
    </div>
  </div>
</div>