<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>New Shipping Service</h1>

      <%= render 'form' %>
      <br>
      <%= link_to 'Back', dashboard_shipping_services_path %>
    </div>
  </div>
</div>