<div class="container" ng-app="ng_ygo_update">
  <div class="row" ng-controller="ng_ygo_update_index">
    <button ng-click="fetch_sets()">Get All Sets</button>
    <ul class="set_list">
      <li class="card_set" ng-repeat="set in sets_array">
        {{ set }}
      </li>
    </ul>
  </div>
</div>