<center>
  <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.absolvegaming.com' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
</center>