<div class="container">
  <div class="row header">
    <div class="col-xs-12">
      <%= render 'order_links' %>
      <h1 class="checkout">Click Below to Finalize Checkout</h1>
    </div>
  </div>
  <div class="row header">
    <div class="col-xs-12">
      <%= render 'checkout_form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'cart' %>
      <%= render 'checkout_footer' %>
    </div>
  </div>
</div>