<div class="container">
  <div class="row">
    <div class="col-xs-5">

      <h1>Editing Catalog</h1>

      <%= render 'form' %>

      <%= link_to 'Show', dashboard_catalog_path(@catalog) %> |
      <%= link_to 'Back', dashboard_catalogs_path %>
    </div>
  </div>
</div>