<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to 'Back to Catalog', dashboard_catalog_path(@db_set.catalog_id) %>
    </div>
  </div>
  <div class="row">
    <%= render 'db_sets' %>
    <%= render 'db_cards' %>
  </div>
</div>