/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}
div#wrapper{
  min-height: 100%;
  position: relative;
}
div#content{
  padding-top: 20px;
  padding-bottom: 70px;
}

#cart_modal tr td {
  white-space: nowrap;
}

input.line_item_qty_field {
  width: 100%;
}

h1, h2 {
  margin-top: 0px !important;
}

div.row.header {
  margin-bottom: 10px;
}
div.header-image img{
  width: 100%;
  margin-bottom: 20px;
}

div.thumbnail {
  text-align: center;
}
div.caption{
  text-align: center;
}

/* visited link buttons are white */
a.btn.btn-primary:visited{
  color: #FFF;
}

a.btn.back-nav{
  margin-bottom: 8px;
  width:100%;
}