<div style="display:block;">
  <%= link_to 'All Games', dashboard_games_path, :class => "btn btn-default", :style => "padding-bottom:10px;" %>
  <%= link_to 'All Categories', dashboard_categories_path, class:"btn btn-default", :style => "padding-bottom:10px;" %>
  <%= link_to 'All Products', dashboard_products_path, class:"btn btn-default", :style => "padding-bottom:10px;" %>
</div>