<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Editing Discount Code</h1>

      <%= render 'form' %>

      <%= link_to 'Show', dashboard_discount_code_path(@discount_code) %> |
      <%= link_to 'Back', dashboard_discount_codes_path %>
    </div>
  </div>
</div>